<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Tarea</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
    <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Tarea</title>
</head>
<body>
    <div class="container mt-5">
        <h2>Crear Tarea</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_title">Título:</label>
                {{ form.title }}
            </div>
            <div class="form-group">
                <label for="id_description">Descripción:</label>
                {{ form.description }}
            </div>
            <div class="form-group">
                <label for="id_user">Usuario:</label>
                {{ form.user }}
            </div>
            <div class="form-check">
                {{ form.is_resolved }}
                <label class="form-check-label" for="id_is_resolved">¿Resuelta?</label>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Crear Tarea</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-gH7kH+GD4wEXsudQPH8wT2XExB02sn/9oU7IgQKxS4qfca1kC1kX6zD5zpbQ7Xn8" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+ozL0rADDDz2rC4fFVjlBpq5nl+YBjZA1Mz" crossorigin="anonymous"></script>
</body>
</html>
