<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Tarea</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h2>Eliminar Tarea</h2>
        <p>¿Estás seguro de que deseas eliminar la siguiente tarea?</p>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>Título:</strong> {{ task.title }}
            </li>
            <li class="list-group-item">
                <strong>Descripción:</strong> {{ task.description }}
            </li>
            <li class="list-group-item">
                <strong>¿Resuelta?:</strong> {% if task.is_resolved %}Sí{% else %}No{% endif %}
            </li>
        </ul>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger mt-3">Confirmar Eliminación</button>
            <a href="{% url 'home' %}" class="btn btn-secondary mt-3">Cancelar</a>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js" integrity="sha384-NRQ2vP5QN7WuKiY1AqpOT9GhHvRlxD5WuAuAETOHSKAU4A8lW5a0ccVi3XvrzZJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+ozL0rADDDz2rC4fFVjlBpq5nl+YBjZA1Mz" crossorigin="anonymous"></script>
</body>
</html>
