{% extends 'base.html' %}

{% block title %}
    Página de Inicio
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">¡Bienvenido a tu aplicación de gestión de tareas!</h1>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="{% url 'create_task' %}" role="button">Crear Nueva Tarea</a>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Tareas No Resueltas Recientes</h2>
            <ul class="list-group">
                {% if unresolved_tasks %}
                    {% for task in unresolved_tasks %}
                        <li class="list-group-item">{{ task.title }}</li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item">No hay tareas no resueltas disponibles.</li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Tareas Resueltas Recientes</h2>
            <ul class="list-group">
                {% if resolved_tasks %}
                    {% for task in resolved_tasks %}
                        <li class="list-group-item">{{ task.title }}</li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item">No hay tareas resueltas disponibles.</li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

