{% extends 'base.html' %}

{% block title %}Tareas Resueltas con User IDs - Tareas App{% endblock %}

{% block content %}
    <h2>Tareas Resueltas con User IDs</h2>
    <ul class="list-group">
        {% for todo in todos %}
        <li class="list-group-item">
            {{ todo.title }} - User ID: {{ todo.user_id }}
        </li>
        {% endfor %}
    </ul>
{% endblock %}
