{% extends 'base.html' %}

{% block title %}Lista de IDs y Títulos - Tareas App{% endblock %}

{% block content %}
    <h2>Lista de IDs y Títulos</h2>
    <ul class="list-group">
        {% for todo in todos %}
        <li class="list-group-item">
            ID: {{ todo.id }} - Título: {{ todo.title }}
        </li>
        {% endfor %}
    </ul>
{% endblock %}
