{% extends 'base.html' %}

{% block title %}Tareas Resueltas - Tareas App{% endblock %}

{% block content %}
    <h2>Tareas Resueltas</h2>
    <ul class="list-group">
        {% for todo in todos %}
        <li class="list-group-item">
            {{ todo.title }}
        </li>
        {% endfor %}
    </ul>
{% endblock %}

