{% extends 'base.html' %}

{% block title %}Lista de IDs - Tareas App{% endblock %}

{% block content %}
    <h2>Lista de IDs</h2>
    <ul class="list-group">
        {% for todo in todos %}
        <li class="list-group-item">
            ID: {{ todo.id }}
        </li>
        {% endfor %}
    </ul>
{% endblock %}

