{% extends 'base.html' %}

{% block title %}IDs y User IDs - Tareas App{% endblock %}

{% block content %}
    <h2>IDs y User IDs</h2>
    <ul class="list-group">
        {% for todo in todos %}
        <li class="list-group-item">
            ID: {{ todo.id }} - User ID: {{ todo.user_id }}
        </li>
        {% endfor %}
    </ul>
{% endblock %}
