{% extends 'base.html' %}

{% block title %}Tareas No Resueltas con User IDs - Tareas App{% endblock %}

{% block content %}
    <h2>Tareas No Resueltas con User IDs</h2>
    <ul class="list-group">
        {% for todo in todos %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ todo.title }} - User ID: {{ todo.user_id }}
            <div>
                <a href="{% url 'update_task' todo.id %}" class="btn btn-primary btn-sm">Editar</a>
                <a href="{% url 'delete_task' todo.id %}" class="btn btn-danger btn-sm">Eliminar</a>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
