<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Tarea</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h2>Actualizar Tarea</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Título:</label>
                <input type="text" id="title" name="title" class="form-control" value="{{ task.title }}">
            </div>
            <div class="form-group">
                <label for="description">Descripción:</label>
                <textarea id="description" name="description" class="form-control">{{ task.description }}</textarea>
            </div>
            <div class="form-group">
                <label for="user">Usuario:</label>
                <select id="user" name="user" class="form-control">
                    {% for user in users %}
                        <option value="{{ user.id }}" {% if task.user.id == user.id %}selected{% endif %}>{{ user.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-check">
                <input type="checkbox" id="is_resolved" name="is_resolved" class="form-check-input" {% if task.is_resolved %}checked{% endif %}>
                <label for="is_resolved" class="form-check-label">¿Resuelta?</label>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Actualizar Tarea</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js" integrity="sha384-NRQ2vP5QN7WuKiY1AqpOT9GhHvRlxD5WuAuAETOHSKAU4A8lW5a0ccVi3XvrzZJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+ozL0rADDDz2rC4fFVjlBpq5nl+YBjZA1Mz" crossorigin="anonymous"></script>
</body>
</html>
