<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tareas App{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Menú de Tareas</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'todo-list-ids' %}">Lista de IDs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'todo-list-ids-titles' %}">Lista de IDs y Títulos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'todo-list-unresolved' %}">Tareas No Resueltas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'todo-list-resolved' %}">Tareas Resueltas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'todo-list-ids-userids' %}">IDs y User IDs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'todo-list-resolved-userids' %}">Tareas Resueltas con User IDs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'todo-list-unresolved-userids' %}">Tareas No Resueltas con User IDs</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Registrarse</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        {% block content %}

        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js" integrity="sha384-NRQ2vP5QN7WuKiY1AqpOT9GhHvRlxD5WuAuAETOHSKAU4A8lW5a0ccVi3XvrzZJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+ozL0rADDDz2rC4fFVjlBpq5nl+YBjZA1Mz" crossorigin="anonymous"></script>
</body>
</html>